#c4-navbar {
  background: #384045;
  width: 100%;
  height: 65px;

  color: white;
  line-height: 65px;
}

.logo,
.subtitle {
  display: inline-block;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  margin-right: 24px;
}

.subtitle {
  color: rgba(255,255,255,0.5);
}